# Her şeyi ignore et
*

# Klasörlere girebilmek için bunları geri aç
!Core/
Core/*
!Core/Src/
Core/Src/*

# Sadece bu iki dosya kalsın
!Core/Src/main.c
!Core/Src/flash_islemleri.c

# .gitignore kendisi de kalsın
!.gitignore
